/*  */
body{
    font-family: 'Poppins', sans-serif;
}

/* .titre:hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
} */

.premierTitre{
    padding-top: 92px;
    padding-bottom: 48px;
    font-family: Poppins;
    font-size: 28px;
}

/*  */
a{
    text-decoration: none !important;
    color: darkblue !important;
    opacity: 0.5;
    text-transform: uppercase;
}

/*  */
.bouton1{
    float: right;
    text-transform: uppercase;
    background: black;
    border: none;
    color: white;
    border-radius: 6px;
    padding: 0 14px 0px 14px;
    font-size: 16px;
}
.bouton1:hover{
    color: white;
    font-weight: 100 !important ;
    letter-spacing: 2px;
    background-color: rgb(189, 88, 78);
    -webkit-box-shadow: 0px 5px 40px -10px black;
    -moz-box-shadow: 0px 5px 40px -10px black;
    transition: all 0.3s ease 0s;
}

/*  */
.bouton2{
float: right;
font-size: 25px;
margin-top: -7px;
margin-left: 45px;
}

.bouton3{
float: right;
font-size: 25px;
margin-top: -7px;
margin-left: 45px;
color: #ffe4c4
}

/*  */
.banner{
    background-color : rgb(243, 243, 243) ;
    margin-top: 53px;
    padding: 15px 0 15px 0;
}

/* bloc1 */
.bloc1{
    margin-left: 0px;
    padding-top: 130px;
}

.shopAt{
    font-size: 50px;
    font-weight: 300;
    color: rgb(189, 88, 78);
    visibility: inherit;
}


.emporium{
    font-size: 60px;
    font-weight: 700;
}

.txt1{
    color:grey ;
    padding-top: 25px ;
}

.saleItems{
    margin-top: 55px;
    background-color: rgb(189, 88, 78) ;
    color: white ;
    text-align: center ;
    border-radius: 30px;
    letter-spacing: 1px;
    padding: 19px 40px;
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase;
}


/* bloc2 */
/* .bloc2{
    margin-left: 150px;
} */

.services .room {
    background-image: url("../images/services/service-1.jpg");
    background-size: cover;
    background-position: center;
}

.services .items {
    background-image: url("../images/services/service-2.jpg");
    background-size: cover;
    background-position: center;
}

.services .clothes {
    background-image: url("../images/services/slider-3.jpg");
    background-size: cover;
    background-position: center;
}

.services h1 {
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.products h2 {
    font-size: 23px;
    font-family: Poppins;
}

.products h3 {
    font-size: 17px;
    font-family: Poppins;
}

.products span {
    color: #bd584e;
    font-family: Poppins;
    font-size: 15px;
}

.products .pr-2 {
    text-decoration: line-through;
    color: #CACACA;
}

.products .onsale {
    border-radius: 100%;
    color: white;
    background-color: #bd584e;
    position: static;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 48px;
    height: 48px;
    font-size: 13px;
    font-weight: 600;
    line-height: 48px;
    font-family: Poppins, sans-serif;
    text-align: -webkit-center;
}

/*Container parallax*/

.parallax{
    background-image: url(../images/cta-bg.jpg);
    background-size: cover; 
    background-position: center center;
    height: 580px;
    transform: translate(0px 46px);
    background-attachment: fixed;
}

.textProducts{
    font-size: 40px;
    font-weight: 600;
    /* letter-spacing: 0px;
    text-transform: none; */
    color: white;
    padding-top: 228px;
}

.btnMore{
    background-color: #bd584e;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    padding: 15px 33px;
    border-radius: 27px;
    border: 1px solid #bd584e;
    font-weight: bold;
    letter-spacing: 0.8px;
    display: inline-block;
    margin-left: 472px;
    margin-top: 69px;   
}

/* SECTION HOT FASHION PRODUCTS */

#carousel {
    text-align: center;
    margin: 3rem;
}

#carousel .container {
    overflow: hidden;
}

#carousel .row {
    flex-wrap: nowrap;
    transition: all 1s;
}

#carousel h4 {
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 0;
}

#carousel a {
    text-decoration: none;
    color: black;
}

#carousel p {
    color: red;
    padding-top: 15px;
}

#carousel p span {
    color: rgba(128, 128, 128, 0.5);
    text-decoration: line-through;
}

#carousel i {
    color: gray;
}

.solde {
    background-color: #B22222;
    color: white;
    padding: 1rem;
}


